.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
}

.card {
  display: flex;
  gap: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px;
}

.card-header-username {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.card-body p {
  margin: 4px 0;
}
