<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Feed</h1>
    </div>
  </div>

  <div class="row" *ngIf="feedData">
    <div class="col-md-6 mb-4" *ngFor="let post of feedData.posts">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <strong>{{ getUserName(post.userID) }} posted</strong>
            <p class="post-content">{{ post.content }}</p>
          </div>

          <div class="like-comment">
            <div>
              <p *ngIf="errorMessages[post.postID]" class="error-message">
                {{ errorMessages[post.postID] }}
              </p>
              <strong>Total Likes : </strong>
              <span>{{ getLikeCount(post.postID) }}</span>
            </div>
            <button (click)="likePost(post.postID)" class="btn btn-primary">
              Like
            </button>

            <div *ngIf="getCommentsForPost(post.postID).length > 0">
              <strong>Comments:</strong>
              <ul class="list-group">
                <li
                  class="list-group-item"
                  *ngFor="let comment of getCommentsForPost(post.postID)"
                >
                  <strong>{{ getUserName(comment.userID) }}:</strong>
                  {{ comment.content }}
                </li>
              </ul>
            </div>

            <div class="mt-3">
              <textarea
                [(ngModel)]="newComment[post.postID]"
                placeholder="Add a comment..."
                class="form-control"
              ></textarea>
              <button
                (click)="addComment(post.postID)"
                class="btn btn-secondary mt-2"
              >
                Comment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!feedData" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
